<!doctype html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <%if (is_admin) {%><%- include('./partials/add_question_form'); %><%}
    else {%><%- include('./partials/admin_form'); %><%}%>
</body>
</html>