<form class="row g-3">
    <select class="form-select" aria-label="Выберите блок">
        <option selected></option>
        <% for (let i = 1; i <= question_form_params.blocks.count; i++)
            {%><option value="<%= question_form_params.blocks['block_id']%>"><%= question_form_params.blocks['title']%></option> <%}%>
    </select>
</form>